/* hide tabs bar **********************************************/
#TabsToolbar {
  visibility: collapse;
}
:root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container {
  display: flex !important;
}
:root:is([tabsintitlebar],[customtitlebar]) #toolbar-menubar:not([autohide="false"]) ~ #nav-bar {
  > .titlebar-buttonbox-container {
    display: flex !important;
  }
  :root[sizemode="normal"] & {
    > .titlebar-spacer {
      display: flex !important;
    }
  }
  :root[sizemode="maximized"] & {
    > .titlebar-spacer[type="post-tabs"] {
      display: flex !important;
    }
  }
}


/* sidebery styles ********************************************/
/* hide header */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
  > #sidebar-header {
  display: none;
}

/* expands on hover */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  --sidebar-width: 36px;
  --sidebar-hover-width: 512px;
  min-width: var(--sidebar-width) !important;  /* NOTE: initial width is not set to min-width */
  z-index: 3;
}
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar{
  transition: width 300ms;
  will-change: width;
  position: absolute;
  width: 100%;
  height: 100%;
}
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover #sidebar {
  width: var(--sidebar-hover-width) !important;
}

/* hide the splitter and disable it when hovering */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
  + #sidebar-splitter {
  opacity: 0;
}

/* navbar *****************************************************/
/* hide back & forward button when disabled */
#back-button[disabled="true"] {
  display: none !important;
}

#forward-button[disabled="true"] {
  display: none !important;
}

#urlbar-input,
#urlbar > .urlbarView {
  font-family: monospace, system-ui !important;
  font-stretch: condensed !important;
}

/* urlbar expand styles */
#urlbar > .urlbarView {
  transition:
    max-height 300ms ease,
    opacity 300ms ease !important;
  opacity: 100%;
  max-height: 450px;
}

#urlbar:not([open]) > .urlbarView,
#urlbar:not([breakout]) > .urlbarView {
  display: block !important;
  opacity: 0%;
  max-height: 0px;
}

/* small fix for smaller windows */
.urlbarView .search-panel-one-offs {
  flex-wrap: nowrap !important;
  overflow-y: scroll;
}

/* hide some context menu options */
#context-navigation,
#context-sep-navigation,
#context-pocket,
#context-sendpagetodevice,
#context-sendlinktodevice,
#context-askChat,
#context-sendimage,
#context-take-screenshot,
#context-sep-screenshots,
#context-setDesktopBackground,
#context-sep-setbackground,
#context-print-selection,
#context-bookmarklink {
  display: none !important;
}
